{% extends "base.html" %}

{% block title %}Listado de productos{% endblock %}

{% block content %}
<h2>Productos disponibles</h2>

<ul>
    {% if user.is_authenticated and user.perfil.rol == 'productor' %}
    <p><a href="{% url 'crear_producto' %}">Crear nuevo producto</a></p>
    {% endif %}

    {% for p in productos %}
        <li>
            <a href="{% url 'detalle_producto' p.pk %}">
                <strong>{{ p.nombre }}</strong>
            </a>
            - {{ p.pais_origen }} -
            Stock: {{ p.stock }} - Precio: {{ p.precio_unitario }}
        </li>
    {% empty %}
        <li>No hay productos registrados.</li>
    {% endfor %}
</ul>
{% endblock %}
